<!DOCTYPE html>

<html lang="en">
<head>

    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'Holadjango/CSS/style.css' %}">
    
</head>
<body>
    <section class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <h2 class="text-center"><strong>INICIAR</strong> SESION</h2>
            <div class="mb-3"><input type="email" class="form-control" name="email" placeholder="Email" required="Email" /></div>
            <div class="mb-3"><input type="password"required="password" class="form-control" name="password" placeholder="Contraseña" /></div>
            
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" >Ingresar</button></div>
          <a class="already" href="{% url 'rest' %}">Olvidate tu contraseña?</a>
        </form>
    </div>
      
</section>

  
</body> 

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

<!-- 
    RTL version
-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>

{% if error %}
<script>
alertify.error('Usuario no valido' );
</script>
{% endif %}

</html>




