{% extends "Holadjango/base.html" %}  



    {% load static %}


<head>
  {% block content %} 
  <title>Modificar Casos</title>
  <link rel="stylesheet" href="{% static 'Holadjango/CSS/casos.css' %}">
</head>


<body>



  <div class="container">
    <ul class="border">
      <il><a href="{% url 'casos' %}">Nuevo Caso</a></il>
      <il><a href="{% url 'listas_casos' %}">Lista Casos</a></il>
      <il><a href="{% url 'ultimademanda' %}">Ultimo Caso</a></il>
      <il><a href="{% url 'reabrircaso'%}">Reabrir Caso</a></il>
      <il><a href="{% url 'index' %}">Cerrar Sesion</a></il>
    </ul>
  

      <div class="container formulario" style="display:grid;">
      <form method="POST" action="#">
        {% csrf_token %}
        
        <div>
          <h1 style="color: white; text-align: center;">Crear Caso</h1>
        </div>
        <div class="tabla">
          <fieldset>

            <legend>Modificar Formulario</legend>

            <div class="column">
            <div class="disen">
              
              <div class="column">
                <div class="items_ejemple cant_dem">
                  <label>Cantidad de demandas:</label>
                  <br>
                  {{form.cantidad_demandas}}
                </div>
                <div class="items_ejemple cant_dem">
                  <label>Titulo:</label>
                  <br>
                  {{form.titulo}}
                </div>
                <div class="items_ejemple container descripcion">
                  <div >
                    <label>Descripcion:</label>
                  </div>
        
                    
                    {{form.descripcion}}
                </div>
              
              
            </div>
           </div>
          </div>
             
          


          </fieldset>

        </div>
        <div style="text-align:center;">
          <input class="button" type="submit" value="Modificar">
        </div>
    </div>

    </form>
  </div>
</body>
{% endblock %} 