{% extends "Holadjango/base.html" %}  



    {% load static %}


<head>
  {% block content %} 
    <title>last</title>
    <link rel="stylesheet" href="{% static 'Holadjango/CSS/lista.css' %}">

</head>


<body>




    <div class="container">
       <ul class="border">
      <il><a href="{% url 'demandas' %}">Nueva</a></il>
      <il><a href="{% url 'listas' %}">Lista Demandas</a></il>
      <il><a href="{% url 'ultimademanda' %}">Ultima Demanda</a></il>
      <il><a href="#Reabrir caso">Reabrir Demanda</a></il>
      <il><a href="{% url 'index' %}">Cerrar Sesion</a></il>
    </ul>
    </div>

    <div class="tablatext">
        <table>
            <tr>
                <th>Compañia</th>
                <th>Contacto</th>
                <th>Pais</th>
            </tr>
            <tr>
                <td>Hola</td>
                <td>Contacto1</td>
                <td>ultimademnada</td>
            </tr>
            <tr>
                <td>Hola</td>
                <td>ultiamdemanda</td>
                <td>memePais</td>
            </tr>
        </table>


    </div>



</body>

{% endblock %} 