

{% extends "Holadjango/base.html" %}  



{% load static %}

<head>
{% block content %} 
<title>Modificar Informes</title>
<link rel="stylesheet" href="{% static 'Holadjango/CSS/Informe.css' %}">


</head>







<body>


<div class="container">
<ul class="border">
  <il><a href="{% url 'informe' %}">Nuevo Informe</a></il>
  <il><a href="{% url 'listas_informes' %}">Lista Informe</a></il>
  <il><a href="{% url 'ultimademanda' %}">Ultimo Informe</a></il>
  <il><a href="{% url 'reabririnforme' %}">Reabrir Informe</a></il>
  <il><a href="{% url 'Logout' %}">Cerrar Sesion</a></il>
</ul>


  <div class="container formulario" style="display:grid;">
  <form method="POST" action="#">
    {% csrf_token %}
    <div>
      <h1 style="color: white; text-align: center;">Crear Informe</h1>
    </div>
    <div class="tabla">
      <fieldset>

        <legend>Formulario</legend>

        <div class="column">
          <div class="disen">
            <div class="items_ejemple">
              <label>Titulo:</label>
              <br>
             {{form.titulo}}
            </div>
            <div class="items_ejemple container descripcion">
              <div >
                <label>Descripcion:</label>
              </div>
                {{form.descripcion}}
            </div>
        </div>

   </div>
         

      </fieldset>

    </div>
    <div style="text-align:center;">
      <il><a href="{% url 'listas_informes' %}">Volver</a></il>
    </div>
</div>

</form>
</div>
</body>

{% endblock %} 